<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to Quest of the Gods!</title>
</head>
<body>
    You won!! Ares and Athena have been defeated by <br>
    a mere mortal. They don't have the will to keep fighting. <br>
    Now it's time to stop the other gods.<br><br>
    <div class = "btn-group-vertical">
        <a class="btn btn-outline-primary" role="button" href="/goto/Throne/goto/Pageant"> Stop Aphrodite and Hera second.</a>
        <a class="btn btn-outline-primary" role="button" href="/goto/Throne/goto/Underworld"> Stop Persephone and Hades second.</a>
    </div>
</body>
</html>