{% extends "base.html" %}

{% block content %}
<h1>Collect the golden Apples</h1>



    {% if num_of_apples == 0 %}
        Collect each apple by clicking on it (although you may need some items to get to some of them).<br><br><br><br><br><br><br>
        <img src="/static/images/golden_apple.png" onclick= window.location.href="/goto/apples" height = 150 width = 150>
    {% elif num_of_apples == 1 %}
        You have collected 1 apple so far, only three more to go!
        {% if "ladder" in inventory %}
            <img src="/static/images/golden_apple.png" onclick= window.location.href="/goto/apples" align = right height = 150 width = 150><br>
        {% else %}
            <img src="/static/images/golden_apple.png" align = right height = 150 width = 150><br>
            <img src="/static/images/ladder.png" onclick= window.location.href="/goto/ladder" height = 300 width = 100><br>
        {% endif %}
    {% elif num_of_apples == 2 %}
        Halfway there! Keep going!
        <img src="/static/images/golden_apple.png" onclick= window.location.href="/goto/apples" style="position: relative; left:30px; top:25px" height = 150 width = 150>
        {% if "hammer" in inventory %}
            <img src="/static/images/glass.jpg" onclick=style="visibility:hidden" style="position:absolute; left:205px;top:170px" height = 175 width = 175><br>
        {% else %}
            <img src="/static/images/glass.jpg" style="position:absolute; left:205px;top:170px" height = 175 width = 175><br>
            <img src="/static/images/hammer.png" onclick= window.location.href="/goto/hammer/" height = 200 width = 150>
        {% endif %}

    {% elif num_of_apples == 3 %}
        You only need one more!
        {% if "magnifier" in inventory and enlarge == False %}
           <img src="/static/images/golden_apple.png" onclick=window.location.href="/goto/enlarge/" height = 15 width = 15>
        {% elif "magnifier" not in inventory %}
           <img src="/static/images/magnifier.jpg" onclick=window.location.href="/goto/magnifier/" height = 200 width = 150>
           <img src="/static/images/golden_apple.png" height = 15 width = 15>
        {% elif "magnifier" in inventory and enlarge == True %}
            <img src="/static/images/golden_apple.png" onclick=window.location.href="/goto/apples/" height = 150 width = 150>
        {% endif %}

    {% elif num_of_apples == 4 %}
        After collecting all 4 golden apples you have utterly defeated Hera and Aphrodite.<br>
        {% if not tasks[0] and not tasks[2] %}
            <div class="btn-group-vertical">
                <a class="btn btn-outline-primary" role="button" href="/goto/Throne/goto/Battlefield">Stop Athena and Ares second.</a>
                <a class="btn btn-outline-primary" role="button" href="/goto/Throne/goto/Underworld">Stop Persephone and Hades second.</a>
            </div>
        {% elif not tasks[0] and tasks[2] %}
            <a class="btn btn-outline-primary" role="button" href="/goto/Throne/goto/Battlefield">Stop Athena and Ares third.</a>
        {% elif not tasks[2] and tasks[0] %}
            <a class="btn btn-outline-primary" role="button" href="/goto/Throne/goto/Underworld">Stop Persephone and Hades third.</a>
        {% elif tasks[0] and tasks[1] and tasks[2] %}
            You have solved all the conflicts. Return to Zeus to report your successes.
        {% endif %}

    {% endif %}
{% endblock %}