{% extends "base.html" %}

{% block content %}
    You woke up confused on Mount Olympus.<br>
    You have been notified of a war between the gods that will <br>
    cause destruction to the human world. If you can solve all the <br>
    gods' conflicts, you can save humanity. Will you save the humans <br>
    or find power for yourself on Mount Olympus?<br>
    <div class="btn-group-vertical" role = "group">
        <a class="btn btn-outline-primary" role="button" href="goto/Earth"> Escape back to your home. </a>
        <a class="btn btn-outline-primary" role="button" href="goto/Throne"> Approach Zeus and ask what's wrong. </a>
    </div>
{% endblock %}