{% extends "base.html" %}

{% block content %}
    Zeus tells you about three childish conflicts that the <br>
    gods and goddesses are going through that each much be <br>
    stopped because any god's rage could destroy the planet. <br> <br>

    Athena and Ares are arguing over who would win in a battle. <br>
    Aphrodite and Hera each believe they are the more beautiful goddess. <br>
    Persephone is trying to take control of the underworld from Hades. <br>

    <div class = "btn-group-vertical">
        <a class="btn btn-outline-primary" role="button" href="goto/Battlefield"> Stop Athena and Ares first. </a>
        <a class="btn btn-outline-primary" role="button" href="goto/Pageant"> Stop Aphrodite and Hera first. </a>
        <a class="btn btn-outline-primary" role="button" href="goto/Underworld"> Stop Persephone and Hades first. </a>
    </div>
{% endblock %}