{% extends "base.html" %}

{% block content %}
    Hades kidnapped Persephone and forces her to stay in the Underworld <br>
    for four months out of the year, causing winter. <br>
    She is only forced to return each winter because she eats four pomegranate <br>
    seeds each time, representing the four months she must stay. <br>
    Find and take Hades' stash of pomegranate seeds so Persephone <br>
    can return to Earth for good and has no reason to overthrow Hades. <br><br>
    <a class = "btn btn-outline-success" role = "button" href="/goto/seeds">Find Seeds</a>
{% endblock %}